@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    max-width: 100%;
    box-sizing: border-box;
}



.video-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.video-title-small-screen {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}


.toaster {
    animation: slideIn 0.3s ease-out;
}
@keyframes slideIn {
    from {
        transform: translateX(400px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.toaster.exit {
    animation: slideOut 0.3s ease-in forwards;
}
@keyframes slideOut {
    to {
        transform: translateX(400px);
        opacity: 0;
    }
}

.button-list-container::-webkit-scrollbar{
    display:none;   /* Hide scrollbar for Chrome, Safari and Opera */
}

.button-list-container{
    scrollbar-width: none;  /* For Firefox */
    -ms-overflow-style: none;   /* For Internet Explorer and Edge */
}