@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    max-width: 100%;
    box-sizing: border-box;
}

.slidder{
    --move:0;
    transform: translateX(calc(var(--move)* -50%));
}

.video-title{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.video-title-small-screen {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}